html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

header, #cuerpo, footer {
    border: solid 1px black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {
    height: 15%;
}

#cuerpo {
    height:80%;
    border: solid 1px black;
}

footer {
    height: 5%;
}