@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

.cuerpo > .row > .col-md-12 {
    @include centrarFlex;
    @include formulario;

    form  p:last-child {
        margin-top: 40px;
        margin-bottom: 0;
        font-weight: bolder;

    }

    .error > p {
        margin: 0px !important;

    }

    .correcto > p {
        margin: 0px !important;
    }
}

.error {
    @include mensajeError;
}

.correcto {
    @include mensajeCorrecto;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ( 0deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.95); }
    100%{ -webkit-transform:rotateZ( 0deg); }
}