@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

.cuerpo > .row > .col-md-12 {
    @include centrarFlex;
    @include formulario;
    
    form {
        margin-bottom: 30px;
    }

    #avisoRegistro {
        width: 60vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        p {
            margin: 0;
        }

        a {
            width: 50%;

            button {
                width: 100%;
                padding: 5px;
                background: $colorPrincipal;
                color: white;
                border: solid 2px $colorPrincipal;
                border-radius: 20px;              
            }

            button:hover {
                background: white;
                color: $colorPrincipal;  
                box-shadow: $sombraCaja;     
                transition: 0.3s;       
            }

       }

    }

}

.error {
    @include mensajeError;
    margin: 0;
    margin-bottom: 20px;
    
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ( 0deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.95); }
    100%{ -webkit-transform:rotateZ( 0deg); }
}

@media (max-width: 1000px) {
    #avisoRegistro {
        flex-wrap: wrap;

        p {
            width: 100% !important;
            margin-bottom: 10px !important;
            text-align: center;
        }

        a {
            width: 75% !important;
            margin-bottom: 20px;
        }
    }
}