@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

.cuerpo > .row > .col-md-12 {
    @include centrarFlex;
    @include formulario;
}

form {
    @include formulario;

    a {
        width: 30%;
    }

    #btnCambiar {
        margin-top: 15px;
        width: 100%;
        padding: 5px;
        background: $colorPrincipal;
        color: white;
        border: solid 2px $colorPrincipal;
        border-radius: 20px;
    }

    #btnCambiar:hover {
        background: white;
        color: $colorPrincipal;   
        box-shadow: $sombraCaja;
        transition: 0.3s;
    }
}

.error {
    @include mensajeError;
    width: 100%;
}

.correcto {
    @include mensajeCorrecto;
    width: 100%;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ( 0deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.95); }
    100%{ -webkit-transform:rotateZ( 0deg); }
}

@media (max-width: 1000px) {  

    form {

        a {
            width: 65%;
        }

    }

}