@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

.cuerpo > .row > .col-md-12 {
    @include centrarFlex;
    @include formulario;

    form  p {
        margin-top: 40px;
        margin-bottom: 0;
        font-weight: bolder;

    }
}

.error {
    @include mensajeError;
}

.correcto {
    @include mensajeCorrecto;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}