@import "styleMenuHeader.scss";

html {
    max-width: 1920px;
    overflow-x: hidden;
}

header {
    width: 100vw;
}

#quitarMenu {
    display: none;
}

.desplegarMenu {
    background: $colorPrincipal;
    border: 0;
    color: white;
    font-size: 120%;
}

#menuCreacion {
    padding: 0;

    h1 {
        @include estiloTitulo;
    }

    #lienzo {
        box-shadow: $sombraCaja;
        width: 70%;
        height: 100%;
        margin-left: 15%;
        min-height: 600px;
        max-height: 400px;
    }

    #generarCodigo {
        margin-left: 25%;
        width: 30%;
        font-weight: bold;
    }

    #generarPDF {
        width: 20%;
        margin-top: 25px;
        padding: 5px;
        background: $colorPrincipal;
        color: white;
        border: solid 2px $colorPrincipal;
        border-radius: 20px;
    }

    #generarPDF:hover {
        background: white;
        color: $colorPrincipal;   
        box-shadow: $sombraCaja;
    }

}

#menuLateralContenido {
    background: $colorPrincipal;
    border-radius: 20px 0 0 20px;
    padding: 30px;
    color: white;
    margin-top: -50px;
    display: none;

    .btnPasos {
        display: none;
        @include estiloBotonesPasos;
    }

    .btnPasos:hover {
        @include estiloBotonesPasosHover;
    }

    #plantillasDisponibles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .tarjetaPlantilla {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding: 10px;
            padding-top: 15px;
            border-radius: 20px; 
            background: white;
            margin-bottom: 20px;
            box-shadow: $sombraCaja;             

            p {
                width: 100%;
                text-align: center;
                font-weight: bold;
                color: $colorPrincipal;
            }

        }

    }

}

