@import "_variables.scss";
@import "_mixins.scss";

body {
    font-family: $fuente;
    width: 100vw;
}

.header {
    @include quitarMarginPadding;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;    
    background: $colorPrincipal !important;
    box-shadow: 0px 0px 40px 0px black;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;

    .navbar-brand {
        font-size: 200%;
        font-weight: bolder;
        margin-right: 50px;
    }

    .navbar-brand:hover {
        transform: scale(1.2);
    }

    .navbar-brand > img:hover {
        transform: scale(1.2);
    }

    a {
        color: white !important;
        font-size: 120%;
    }

    #logIn {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;        
    }

    #foroLog {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;        
    }

    #foroNoLog {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;
        display: none;
    }


    #logIn > li > a.nav-link {
        color: black;
    }

    li {
        margin-left: 10px;
    }

    li:hover {
        transform: scale(1.1);
    }
        
}
