@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

#formPublicacion {
    @include centrarFlex;
    width: 100%;

    form {
        width: 100%;
    }

    #publicacion {
        width: 79%;
        margin-bottom: 10px;       
        height: 50px;
        border: solid 2px $colorPrincipal;
        border-radius: 20px;
        padding-left: 10px;

    }

    #publicar {
        width: 20%;
        padding: 5px;
        height: 50px;
        background: $colorPrincipal;
        color: white;
        border: solid 2px $colorPrincipal;
        border-radius: 20px;
    }

    #publicar:hover {
        background: white;
        color: $colorPrincipal;
        box-shadow: $sombraCaja;
    }

}

#publicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

       #usuario {
           color: $colorPrincipal;
           width: 50%;
           font-weight: bold;
       }

       #fecha {
           width: 50%;
           text-align: right;
       }
    
        #publicacion {
            width: 100%;
            margin: 0;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $colorPrincipal;
        }

}

.error {
    @include mensajeError;
}

.correcto {
    @include mensajeCorrecto;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}

@media (max-width: 510px) {

    #logIn > ul {
        flex-direction: column !important;
        margin-top: 7px;
        
    }

    .navbar-nav {
        flex-direction: column;
    }

}

@media (max-width: 1100px) {

    #navbarTogglerDemo01 #logIn > ul > li > a {
        font-size: 100% !important;
    }

}

@media (max-width: 800px) {

    #publicacion, #publicar {
        width: 100% !important;
    }

    #publicar {
        margin-bottom: 10px;
    }

}