@import "_variables.scss";
@import "_mixins.scss";

body {
    font-family: $fuente;
}

.header {
    @include quitarMarginPadding;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;    
    background: $colorPrincipal !important;
    box-shadow: 0px 0px 40px 0px black;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;

    .navbar-toggler {
        border: 0;        
    }

    .navbar-toggler:hover {
        transform: scale(1.1);
    }

    .navbar-brand {
        font-size: 200%;
        font-weight: bolder;
        margin-right: 50px;
    }

    .navbar-brand:hover {
        transform: scale(1.2);
    }

    .navbar-brand > img:hover {
        transform: scale(1.2);
    }

    a {
        color: white !important;
        font-size: 120%;
    }

    #logIn {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;        
    }

    #foroLog {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;        
    }

    #foroNoLog {
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 100%;
        align-items: center;
        display: none;
    }


    #logIn > li > a.nav-link {
        color: black;
    }

    li {
        margin-left: 10px;
    }

    li:hover {
        transform: scale(1.1);
    }
        
}

/*@media (min-width: 700px) {

    .navbar-expand-lg .navbar-collapse {

        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

}*/

@media (min-width: 700px) {

    .navbar {
        height: fit-content;
    }

    .collapse {
        display: none;
    }

    #logIn {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        align-items: center;        
    }

}

@media (max-width: 1075px) {
    .navbar {

        a {
            font-size: 100%
        }

        .navbar-brand {
            font-size: 200%;
        }

    }
}