@import "styleMenuHeader.scss";

h1 {
    @include estiloTitulo;
}

.cuerpo {
    padding-bottom: 40px;
    
    h1:nth-child(1) {
        margin-top: 10px;
    }

    h1 {
        margin-top: 40px;
    }

    .row>p {
        font-size: 120%;
    }

    ul {
        width: 100%;
    }

    ul > li {
        font-size: 120%;
    }

    #avisoHome {
        font-size: 150%;
        width: 100%;
        font-weight: bolder;
        text-align: center;
        margin-top: 10px;
    }
    
}

#prevPlantillas {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    
    div {
        width: 15%;
        min-width: 200px;
        padding: 5px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 2px solid $colorPrincipal;
        border-radius: 20px;
    }

    div:hover {
        box-shadow: $sombraCaja;
    }

    div > p {
        color: $colorPrincipal;
        font-weight: bolder;
        width: 100%;
        padding-bottom: 5px;
        font-weight: bold;
        text-align: center;
    }

    div > iframe {
        margin: auto;
        padding-bottom: 5px;
        
    }

}